/* ==========================================================================
   NAVIGATION BUTTONS - NAVBAR AND NAVIGATION-SPECIFIC BUTTONS
   ========================================================================== */

/* ==========================================================================
   DONATE BUTTON
   ========================================================================== */

.donate-button {
  font-weight: 600;
  background: linear-gradient(
    to right,
    var(--primary-blue),
    var(--secondary-blue)
  );
  color: var(--primary-light-color);
  border: none !important;
}

.donate-heart-icon {
  color: var(--primary-light-color);
  font-size: 0.7rem;
  margin-right: 0.5rem;
}
