.register-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.register-wrapper {
  width: 100%;
  max-width: 500px;
}

.register-card {
  border: none;
  border-radius: 12px;
  padding: 30px;
}

.auth-link {
  color: #4d6fe5;
  text-decoration: none;
  font-weight: 500;
}

.auth-link:hover {
  text-decoration: underline;
}

.signup-button {
  background: linear-gradient(
    to right,
    var(--primary-blue),
    var(--secondary-blue)
  );
  color: white;
  border: none !important;
}

.profile-info-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.profile-info-wrapper form label {
  text-align: left;
  display: block;
}

.profile-card {
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 30px;
}

/* Apply blur effect to backdrop */
.modal-backdrop.show {
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.3);
}

/* Remove default white background from Modal */
.custom-modal-content {
  background: transparent;
  border: none;
  padding: 0 7rem;
}

.required-asterisk {
  color: red;
  margin-left: 2px;
}

.invalid-feedback {
  text-align: start;
}


/* .modal-close-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-close-icon {
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
  display: flex;
}

.modal-close-icon:hover {
  opacity: 0.75;
} */
