.sub-banner {
  background: linear-gradient(
    to right,
    var(--primary-blue),
    var(--secondary-blue)
  );
  text-align: center;
  padding: 0.5rem 8rem;
  font-weight: 750;
  border-bottom: 1px solid #ddd;
}

.sub-banner p {
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0;
}
