/* The parent of the donor dashboard */
.donor-dashboard {
  background-color: #f7fafc;
}

.profile-container {
  padding: 0 7rem;
}

.profile-content {
  padding-top: 1.5rem;
  border-top: solid 2px #dee2e6;
}

@media (max-width: 1200px) {
  .profile-container {
    padding: 1rem 4rem;
  }
}

@media (max-width: 768px) {
  .profile-container {
    margin: 0 auto;
    padding: 1rem 1rem;
  }
}