.member-layout {
  padding: 0 7rem;
}

/* member NavBar */
.member-nav {
  border-bottom: solid 2px #dee2e6;
}

.member-nav .nav-link {
  color: black;
  margin-right: 1.5rem;
}

.member-nav .nav-link.active {
  color: #3182ce !important;
  font-weight: 500;
}

@media (max-width: 1199px) {
  .member-layout {
    padding: 1rem 4rem;
  }
}

@media (max-width: 764px) {
  .member-layout {
    padding: 1rem;
  }

  .member-nav {
  border-bottom: none;
}
}
