.logo-scroller-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f8f9fa;
  padding: 1.5rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.logo-scroller-label {
  font-size: 1.25rem;
  font-weight: 700;
  white-space: wrap;
  color: #1a1a1a;
  min-width: 300px;
}

.logo-scroller {
  overflow: hidden;
  width: 100%;
  flex: 1;
}

.logo-track {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  animation: scroll 30s linear infinite;
}


.logo-slide {
  flex: 0 0 auto;
  padding: 0 2rem;
}


.logo-slide img {
  max-height: 100%;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
