/* Company information card  */
.company-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.company-menu-icon {
  font-size: 1.5rem;
  color: #6c757d;
  cursor: pointer;
}

.field-row {
  display: flex;
  align-items: stretch;
  margin-bottom: 1.25rem;
  border: 1px solid #ced4da;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  opacity: 60%;
}

.field-row span {
  background-color: #F3F8FD;
  color: rgb(4, 4, 4);
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.field-row input {
  border: none;
  border-left: 1px solid #ced4da;
  border-radius: 0;
  flex: 1;
  padding-left: 0.75rem;
}

