/* Top Banner Section */
.banner-container {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--primary-blue),
    var(--secondary-blue)
  );
  padding: 0.5rem 8rem;
}

.banner-container p {
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0;
}
