.dashboard-wrapper {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-left: 25px;
  min-height: 500px; /* Helps it fill space on the left column */
}

.dashboard-row {
  background-color: #ffffff;
}

.dashboard-title {
  font-weight: 600;
  font-size: 1.2rem;
}

.dashboard-header {
  margin-bottom: 1.5rem;
}

.card-body .row > .col {
  padding: 0.5rem 0.25rem;
}
