.dashboard-container {
  background-color: #f6fafd;
  min-height: 100vh;
  margin-left: 100px;
   /* border-top: 2px solid black; */
}
.dashboard-top-row {
  border-top: 2px #dee2e5;
  padding-top: 1rem; /* Optional spacing */
}

.dashboard-wrapper {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-left: 25px;
}

.dashboard-row {
  background-color: #ffffff;
}

.dashboard-title {
  font-weight: 600;
}
