/* ==========================================================================
   DONOR CTA CARD STYLES
   ========================================================================== */

.donor-cta {
  background: linear-gradient(
    to right,
    var(--primary-blue),
    var(--secondary-blue)
  );
}

.donor-cta .card-title {
  color: var(--primary-light-color);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.donor-cta .card-text {
  color: #f0f0f0;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.donor-cta button {
  background-color: transparent;
  color: var(--primary-light-color);
  border: 1.5px solid var(--primary-light-color);
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-bottom: 5rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.donor-cta button span {
  margin-right: 0.5rem;
}

.donor-cta button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: translateY(-1px);
}
