.admin-layout {
  padding: 0 7rem;
}

/* admin NavBar */
.admin-nav {
  border-bottom: solid 2px #dee2e6;
}

.admin-nav .nav-link {
  color: black;
  margin-right: 1.5rem;
}

.admin-nav .nav-link.active {
  color: var(--admin-red);
  font-weight: 500;
}

/* The parent of the admin dashboard */
.admin-dashboard {
  background-color: #f7fafc;
}

.admin-content {
  padding-top: 1.5rem;
}

@media (max-width: 1199px) {
  .admin-layout {
    padding: 1rem 4rem;
  }
}

@media (max-width: 764px) {
  .admin-layout {
    padding: 1rem;
  }

  .admin-nav {
  border-bottom: none;
}
}
