/* The parent of the donor dashboard */
.company-dashboard {
  background-color: #f7fafc;
}

.company-container {
  padding: 0 7rem;
}

.company-nav {
  border-bottom: solid 2px #dee2e6;
}

.company-content {
  padding-top: .3rem;
}

@media (max-width: 1200px) {
  .company-container {
    padding: 1rem 4rem;
  }
}

@media (max-width: 768px) {
  .company-container {
    margin: 0 auto;
    padding: 1rem 1rem;
  }
}
