.marketing-layout {
  padding: 0 7rem;
}

.outlet-container {
  display: flex;
  flex-direction: column;
  background-color: #f7fafc;
  padding-top: 6.3rem;
  flex: 1;
}

/* marketing NavBar */
.marketing-nav {
  border-bottom: solid 2px #dee2e6;
}

.marketing-nav .nav-link {
  color: black;
  margin-right: 1.5rem;
}

.marketing-nav .nav-link.active {
  color: #3182ce !important;
  font-weight: 500;
}

@media (max-width: 1199px) {
  .marketing-layout {
    padding: 1rem 4rem;
  }
}

@media (max-width: 764px) {
  .marketing-layout {
    padding: 1rem;
  }

  .marketing-nav {
    border-bottom: none;
  }
}
