/* Profile information card  */
.profile-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.profile-menu-icon {
  font-size: 1.5rem;
  color: #6c757d;
  cursor: pointer;
}

.field-row {
  display: flex;
  align-items: stretch;
  margin-bottom: 1.25rem;
  border: 1px solid #ced4da;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
}

.field-row span {
  background-color: var(--primary-blue);
  color: white;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.field-row input {
  border: none;
  border-left: 1px solid #ced4da;
  border-radius: 0;
  flex: 1;
  padding-left: 0.75rem;
}

.profile-donate-button {
  background: linear-gradient(
    to right,
    var(--primary-blue),
    var(--secondary-blue)
  );
  border: none !important;
}

.profile-donate-button span {
  margin-right: 0.5rem;
  font-weight: 500;
}
