/* donorStats component */
.donor-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}

.stat-block {
  flex: 1;
}

.stat-value {
  font-weight: 700;
  color: var(--primary-blue);
  font-size: 2.3rem;
}

.stat-label {
  color: #383b3e;
}

.stat-label span {
  font-weight: 500;
  font-size: 1rem;
  padding-right: 0.3rem;
}

.stat-divider {
  width: 0.2rem;
  height: 4.5rem;
  background-color: #dee2e6;
  margin: 0 1.5rem;
}

.info-icon {
  color: #a3a3a3;
  font-size: 0.8em;
  cursor: pointer;
}

.more-stats-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #6c757d;
  cursor: pointer;
}

@media (max-width: 960px) {
  .donor-stats {
    flex-direction: column;
    align-items: stretch;
  }

  .stat-block {
    margin-bottom: 1.5rem;
  }

  .stat-divider {
    display: none;
  }

  .more-icon {
    align-self: flex-end;
    margin-top: 0.5rem;
  }
}
