.modal-header {
  border-bottom: none !important;
}

.password-toggle-button {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-toggle-button:hover {
  background-color: #e2e2e2;
}

.modal-body .btn-primary {
  background: linear-gradient(
    to right,
    var(--primary-blue),
    var(--secondary-blue)
  );
  border: none !important;
}
