/* global variables */
:root {
  --primary-blue: #4B9BE7;
  --secondary-blue: #4bc8e7;
}

.app-container {
  overflow-x: clip;
}

.outlet-container {
  display: flex;
  flex-direction: column;
  background-color: #F7FAFC;
}
