/* global variables */
:root {
  --primary-blue: #4b9be7;
  --secondary-blue: #4bc8e7;
}

.app-container {
  overflow-x: clip;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}
