/* Top Banner Section */
.admin-banner-container {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--admin-red),
    var(--admin-light-red)
  );
  padding: 0.5rem 8rem;
}

.admin-banner-container p {
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0;
}
